.details-enter {
  opacity: 0.01;
}

.details-enter.details-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.details-leave {
  opacity: 1;
}

.details-leave.details-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}